.prompt-list {
    margin-bottom: 1em;
    overflow-y: auto;
}

.prompt-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.list-box {
    width: 100%;
}

.prompt-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
    width: 100%;
}

.prompt-item-right-default {
    padding-right: 14px;
}