:root {
    --doc-height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: var(--doc-height);
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
    height: calc(var(--doc-height) - 1px);
    position: relative;
}

/*sidebar disabled*/
/*@media (min-width: 600px) {*/
/*    .main-content.with-sidebar {*/
/*        margin-left: 250px;*/
/*    }*/
/*}*/

.main-content {
    flex-grow: 1;
    min-height: calc(100% - 4.2rem);
    display: flex;
    flex-direction: column;
    margin-top: 4.2rem;
    margin-bottom: 70px;
    overflow-y: auto;
    scroll-behavior: smooth;
    transition: margin-left 0.3s ease-in-out; /* 添加过渡效果 */
}

.main-content-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.2rem;
    min-height: 4.2rem;
    z-index: 1000;
}

.main-tool-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.main-tool-bar.collapsed {
    width: 110px;
}

.main-tool-bar-tools {
    /*Sidebar disabled*/
    /*width: 250px;*/
    width: 115px;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    transition: width 0.3s ease-in-out;
}

.main-tool-bar-misc {
    padding: 10px;
}

.main-tool-bar-tools.collapsed {
    width: 110px;
}

.main-content-header.collapsed {
    width: calc(100% - 110px);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: var(--surface-100);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--surface-300);
}

.input-box-container {
    width: 100%;
    padding: 10px 10%;
    z-index: 900;
}
@media (max-width: 800px) {
    .input-box-container {
        padding: 10px 5%;
    }
}

/* Greeting container styles */
.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.greeting-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.messages{
    scrollbar-gutter: stable both-edges;
}