/*Used to remove BPMN.io LOGO*/
.bjs-powered-by,
.bjs-breadcrumbs {
    display: none !important;
}

.bpmn-canvas {
    height: 100%;
    width: 100%;
    background: var(--custom-chat-message-bpmn-background-color);
    border-radius: 10px;
}