.input-box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.uploaded-files {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-bottom: 5px;
}

.file-item {
    background-color: var(--surface-b);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 5px;
    background-color: var(--surface-a);
}

.message-input {
    flex: 1;
    border: none;
    border-radius: 25px;
    outline: none;
    resize: none;
    height: 35px;
    background-color: var(--surface-a);
}

.upload-btn,
.send-btn {
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.upload-btn .p-button-icon,
.send-btn .p-button-icon {
    font-size: 1.2em;
}
